<section flex>
    <md-tabs md-dynamic-height md-border-bottom layout="column" style="height: 100%;">


        <md-tab label="PMs">
            <md-content layout="row" layout-wrap layout-fill layout-align="start top">

                <div flex-gt-xs="100" flex-gt-sm="50" flex-gt-md="33" layout="column" layout-wrap layout-fill layout-padding layout-align="start top">
                    <md-button class="md-raised md-primary md-hue-3" layout="row" layout-align="start top">
                        <img src="https://material.angularjs.org/latest/img/washedout.png" class="amb_avatar" alt="foto" />
                        <span>Normal</span>
                    </md-button>
                    <md-list flex>
                        <md-list-item class="md-2-line" ng-click="null">
                            <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-avatar" alt="foto" />
                            <div class="md-list-item-text" layout="column">
                                <h3>ullamco laboris</h3>
                                <h4>nisi ut aliquip ex</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <div flex-gt-xs="100" flex-gt-sm="50" flex-gt-md="33" layout="column" layout-wrap layout-fill layout-padding layout-align="start top">
                    <md-button class="md-raised md-primary md-hue-3" layout="row" layout-align="start top">
                        <img src="https://material.angularjs.org/latest/img/washedout.png" class="amb_avatar" alt="foto" />
                        <span>Normal</span>
                    </md-button>
                    <md-list flex>
                        <md-list-item class="md-2-line" ng-click="null">
                            <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-avatar" alt="foto" />
                            <div class="md-list-item-text" layout="column">
                                <h3>ullamco laboris</h3>
                                <h4>nisi ut aliquip ex</h4>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line" ng-click="null">
                            <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-avatar" alt="foto" />
                            <div class="md-list-item-text" layout="column">
                                <h3>ullamco laboris</h3>
                                <h4>nisi ut aliquip ex</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <div flex-gt-xs="100" flex-gt-sm="50" flex-gt-md="33" layout="column" layout-wrap layout-fill layout-padding layout-align="start top">
                    <md-button class="md-raised md-primary md-hue-3" layout="row" layout-align="start top">
                        <img src="https://material.angularjs.org/latest/img/washedout.png" class="amb_avatar" alt="foto" />
                        <span>Normal</span>
                    </md-button>
                    <md-list flex>
                        <md-list-item class="md-2-line" ng-click="null">
                            <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-avatar" alt="foto" />
                            <div class="md-list-item-text" layout="column">
                                <h3>ullamco laboris</h3>
                                <h4>nisi ut aliquip ex</h4>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line" ng-click="null">
                            <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-avatar" alt="foto" />
                            <div class="md-list-item-text" layout="column">
                                <h3>ullamco laboris</h3>
                                <h4>nisi ut aliquip ex</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

                <div flex-gt-xs="100" flex-gt-sm="50" flex-gt-md="33" layout="column" layout-wrap layout-fill layout-padding layout-align="start top">
                    <md-button class="md-raised md-primary md-hue-3" layout="row" layout-align="start top">
                        <img src="https://material.angularjs.org/latest/img/washedout.png" class="amb_avatar" alt="foto" />
                        <span>Normal</span>
                    </md-button>
                    <md-list flex>
                        <md-list-item class="md-2-line" ng-click="null">
                            <img src="https://material.angularjs.org/latest/img/washedout.png" class="md-avatar" alt="foto" />
                            <div class="md-list-item-text" layout="column">
                                <h3>ullamco laboris</h3>
                                <h4>nisi ut aliquip ex</h4>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>

            </md-content>
        </md-tab>


        <md-tab label="Proyectos">
            <md-content layout="row" layout-wrap layout-fill layout-padding layout-align="start top">
                <md-button>Primary (md-noink)</md-button>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </md-content>
        </md-tab>

        
    </md-tabs>
</section>
